.DS_Store
node_modules/
npm/node_modules/
es6/node_modules/
npm2/node_modules/
koa-todolist/node_modules/
koa-test/node_modules/
cli-demo/node_modules/
todolist-ajax/node_modules/
node-mysql/node_modules/
sequelize-demo/node_modules/
sequelize-demo-old/node_modules/
sequelize-cli-demo/node_modules/
app-blog/node_modules/
app-blog/client/node_modules/
typeScript/node_modules/
typeScript/app/node_modules/
food-world/node_modules/
egg-project/node_modules/
rollup-demo/node_modules/
food-world/front_back/node_modules/
babel-learn/demo1/node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
.vs
*.lock
*.suo
*.ntvs*
*.njsproj
*.sln
