<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板引擎</title>
    <link rel="stylesheet" href="public/css/main.css">
</head>

<body>
    <h1>44444444</h1>
    <h2><%= res.id %></h2>
    <h2 ><%= res.name %></h2>
    <img src="public/img/4444.png" alt="" srcset="">
    <ul>
        <%for (var i=0;i<list.length;i++){%>
        <li><%= list[i] %></li>
        <%}%>
    </ul>
    <script src="public/js/main.js"></script>
</body>
</html>